spring:
  datasource:
    url: jdbc:mysql://gondola.proxy.rlwy.net:48131/railway?useSSL=true&requireSSL=false&serverTimezone=UTC
    username: mysql
    password: kofWgIwqhZqDqbcPPlYktBcgFQfbKlci
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: ${PORT:8080}
